
*{  margin: 0;
    padding: 0;
    box-shadow: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: snap;

    font-family: 'Poppins', 'sans-serif';

}

/* :root {
    --bg-color: #1f242d;
    --seconde-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;

} */
:root {
    --bg-color: rgb(17, 23, 50);
    --seconde-bg-color: rgba(36, 46, 78, 0.6);
    --text-color: #fff;
    --main-color: rgb(59, 186, 196);
}



html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky {
    border-bottom: .1rem solid rgb(0, 0, 0, .2);
}
.logo {
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition: 3s;
}
.navbar a:hover,
.navbar a.active
 {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.bx {
    display: flex;
}
#temp-metric{
    font-family: Poppins sans-serif;
    font-size: 1.7rem;
    margin-left: 1rem;
}
#darkMode-icon {
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
    

}
h2 
{   margin-left: 6%;
    margin-top: 5%;
    text-align: left;
    line-height: 1.2;
}
span {
    color: var(--main-color);
}

.box-container {
    margin-top: 20%;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 17%;
}
.box {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}
#city {
    background-color: rgba(41, 128, 185, 0.75);
}
#temp {
    background-color: rgba(43, 78, 101, 0.75);
}
#humidity {
    background-color: rgba(52, 152, 219, 0.75);
}
#wind {
    background-color: rgba(143, 146, 154, 0.75);
}

@media (max-width: 330px) {
   .box
    { width: 100%;
}
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--seconde-bg-color);
}
.footer-text p {
    font-size: 1.6rem;

}
.footer-iconTop a {
display: inline-flex;
justify-content: center;
align-items: center;
padding: .8rem;
background: var(--main-color);
border-radius: .8rem;
transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--seconde-bg-color);

}
@media (max-width: 768px){
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 85%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgb(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
        display: none;
    }
    .navbar.active {
        display: block;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }}
